* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    margin-top: 20px;
  }
  
  .container {
    background-color: #fff;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    /* box-shadow: 1px 3px 44px 0px rgba(0, 0, 0, 0.75); */
    padding: 2rem;
  }
  
  h1,
  h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
  }
  
  h2 {
    margin-top: 50px;
  }
  
  p {
    line-height: 2;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 35px;
  }
  
  .input-box input,
  .input-box select {
    height: 45px;
    width: 100%;
    padding-left: 15px;
    font-size: 14px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    border-bottom-width: 2px;
  }
  
  .input-box input:focus,
  .input-box input:valid .input-box select:focus {
    border-color: rgb(219, 185, 185);
  }
  
  .button > input {
    margin-top: 40px;
    background-color: #e2a1a1;
    width: 100%;
    border: none;
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
  
  .input-box .image-upload {
    /* padding: 40px 10px; */
    border: 0px;
    /* width: 70%; */
    /* height: 200px; */
  }
  